 <iframe width="364" height="170" scrolling="no" marginheight="0" marginwidth="0" 
   src="http://maps.google.com/maps?f=q&amp;geocode=&amp;q={{ googlemapaddress[0].FormattedAddress}}&amp;ie=UTF8&amp;ll={{ googlemapaddress[0].latitude}},{{ googlemapaddress[0].longitude}}&amp;output=embed"></iframe>
   <div style="float:left">
<a href="http://maps.google.com/maps?hl=en&amp;q={{ googlemapaddress[0].FormattedAddress}}&amp;ie=UTF8&amp;hq={{ googlemapaddress[0].FormattedAddress}}&amp;t=m&amp;ll={{ googlemapaddress[0].latitude}},{{ googlemapaddress[0].longitude}}&amp;spn=0.016084,0.006295&amp;source=embed" class="smtxt right" target=_BLANK>View Larger Map &rsaquo;</a>
</div>