<div id="content-slider-1" class="royalSlider contentSlider rsDefault">

<div>	
<a href="/" target="_blank"><img src="{{ asset("img/ss-placeholder1.gif") }}" alt="" width="620" height="341"></a>			
<span class="rsTmb">
Find
</span>			
</div>		
<div>
<a href="/" target="_blank"><img src="{{ asset("img/ss-placeholder2.gif") }}" alt="" width="620" height="341"></a>
<span class="rsTmb">
Join
</span>
</div>					
<div>
<a href="/" target="_blank"><img src="{{ asset("img/ss-placeholder3.gif") }}" alt="" width="620" height="341"></a>
<span class="rsTmb">
Organize
</span>
</div>		
<div>
<a href="/" target="_blank"><img src="{{ asset("img/ss-placeholder4.gif") }}" alt="" width="620" height="341"></a>
<span class="rsTmb">
Attend
</span>
</div>		
<div>
<a href="/" target="_blank"><img src="{{ asset("img/ss-placeholder5.gif") }}" alt="" width="620" height="341"></a>
<span class="rsTmb">
Speak
</span>
</div>		
<div>
<a href="/" target="_blank"><img src="{{ asset("img/ss-placeholder6.gif") }}" alt="" width="620" height="341"></a>
<span class="rsTmb">
Sponsor
</span>
</div>

</div>