  <div id="topSocial">			
    <ul>
      <li>Follow us on <a href="http://en.twitter.com/MarketingCampSF" target="_blank"><img src="{{ asset("img/twitter.png")}}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Twitter"></a> 
      <a href="https://www.facebook.com/MarketingCampSF" target="_blank"><img src="{{ asset("img/facebook.png")}}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Facebook"></a> 
      <a href="https://plus.google.com/u/0/b/103471940417998857276/103471940417998857276/posts" target="_blank"><img src="{{ asset("img/google-plus.png")}}" alt="Follow MarketingCamp San Francisco on Google Plus" width="32" height="32"></a>
      <a href="http://www.linkedin.com/groups/MarketingCamp-Silicon-Valley-4502494?gid=4502494&mostPopular=&trk=tyah" target="_blank"><img src="{{ asset("img/linkedin.png")}}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Linkedin"></a> 
      <a href="http://www.youtube.com/user/MarketingCamp" target="_blank"><img src="{{ asset("img/youtube.png")}}" width="32" height="32" alt="Follow MarketingCamp San Francisco on YouTube"></a> 
      <a href="www.flickr.com/photos/MCSV" target="_blank"><img src="{{ asset("img/flickr.png")}}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Flickr"></a>	
      <a href="http://www.slideshare.net/marketingcampsf" target="_blank"><img src="{{ asset("img/slideshare.png")}}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Slideshare"></a> 
      <a href="https://foursquare.com/marketingcampsv" target="_blank"><img src="{{ asset("img/foursquare.png")}}" width="32" height="32" alt="Follow MarketingCamp San Francisco on Four Square"></a>&nbsp;&nbsp;&nbsp;<a href="http://www.marketingcampsf.org/blog/" target="_blank">
      <img src="{{ asset("img/blog-b.png")}}" width="32" height="32" alt=""> <strong>Read Our Blog!</strong></a>
      </li>
    </ul>
  </div>
  
  <div id="topNav">
    <ul>
    <li><a href="/">Sign in</a></li>
    <li><a href="/">Contact Us</a></li>
    <li><a href="{{ path('client')}}">Home</a></li>
    </ul>
  </div>

  <a href="#"><img src="{{ asset("img/logo.png") }} " alt="" width="310" height="126" id="brand"></a>
  
  <div id="tagline">
    <span class="grn">share.</span>
    <span class="blu">learn.</span>
    <span class="pnk">grow.</span>
  </div>
  <br class="clr">
